.about {
    background-color: rgba(0,0,0,0.5);
    display: grid;
    grid-template-rows: auto;
}

.about::before {
    content: '';
    background: url("../../assets/sushi2.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 500ms;
}

.about div {
    place-self: center;
    width: 80%;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: 2rem 2rem;
    animation: fadeIn 1s 0.3s backwards;
    max-width: 1200px;
    background-color: rgba(0,0,0,0.5);
}

.about h2,
.about p {
    margin: 0;
    transition: font-size 500ms;
}

.about h2 {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    border-radius: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    
    .about div {
        border-width: 2px;
    }
    .about h2 {
        font-size: 2.5rem;
        transition: font-size 500ms;
    }
    .about p {
        font-size: 1.5rem;
        transition: font-size 500ms;
    }
}