.about {
    background-color: rgba(0,0,0,0.5);
    display: grid;
}

.about::before {
    content: '';
    background: url("../../assets/sushi2.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* .aboutP p {
    width: 80%;
    place-self: center;
    background-color: var(--primary-color);
} */