* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    line-height: 1.5;
    color: var(--secondary-color);
    background-color: #000;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto calc(100vh - 80px) auto;
    position: relative;
}

:root {
    --primary-color: #3d3d3d;
    --secondary-color: #c5cab0;
    --white-color: #ffffff;
}